[submodule "kelpie_ws/src/kelpie_hardware_interface/scripts/Spacebarrr_CircuitPython_LSM6DS"]
	path = kelpie_ws/src/kelpie_hardware_interface/src/kelpie_hardware_interface/imu/CircuitPython_LSM6DSV16X
	url = https://github.com/SpaceBarrr/CircuitPython_LSM6DSV16X
	branch = main